<% provide(:title, 'Edit Post') %>

<%= render 'form', post: @post %>

<div class = "container">
<%= link_to 'Delete This Masterpiece', @post, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger'%>

</div>
